<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    
    <title>Gym Application</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th width="5%"><form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" /></form>
	<h1>Visits</h1>
	<table>
		<tr>
			<th>Date</th>
			
		</tr>

		<tr th:each="visit : ${visits}">
			<td th:text="${visit.date}">Date</td>
			<td><a class="btn btn-danger"
			th:href="@{/delete/{visitid}(id=${visit.visitid})}">Delete</a></td>
			<td><a class="btn btn-success"
				th:href="@{/modify/{visitid}(id=${visit.visitid})}">Edit</a></td>
			
		</tr>
	</table>

	<a href="/add" class="btn btn-primary">Add visit</a>

</body>
</html>